         p{
        font-family: Arial;
        margin-top: 0;
    }
.video-title{
font-size:  18px;
font-weight: bold;
width:300px;
line-height: 23px;
}
.video-stats{
    font-size: 14px;
    color: rgb(96,96,96);
}
.video-author{
    font-size: 14px;
    color: rgb(96,96,96);
}
.video-content{

    font-size: 14px;
    color: rgb(96,96,96);
    width: 280px;
    line-height: 22px;
}
.apple-text{
margin-bottom: 50px;
margin-top: 50px;
font-size: 13px;
background-color: rgb(245, 48, 48);
color: white;
text-align: center;
padding-top: 18px;
padding-bottom: 18px;
margin-right: 90px;
}
.span-text{
color: white;
}
.span-text:hover{
    text-decoration: underline;
}
